.sidebar {
  width: 260px;
  grid-template-areas: "p-workspace__channel_sidebar";
  grid-template-rows: auto;
  overflow: hidden;
  grid-area: p-workspace__sidebar;
  display: grid;
  grid-template-columns: auto;
  position: relative;
  @media screen and (max-width: 640px) {
    position: fixed;
    width: 100%;
    z-index: 203;
    top: 0;
  }
  .dropdownIcon {
    display: none;
    @media screen and (max-width: 640px) {
      display: block;
      position: absolute;
      z-index: 2;
      top: 16px;
      left: 16px;
    }
  }
  .channelSidebar {
    display: flex;
    flex-direction: column;
    min-height: 0;
    min-width: 0;
    grid-area: p-workspace__channel_sidebar;
  }
}
