.createChannelPopup {
  .popupInfo {
    color: rgb(97, 96, 97);
    margin-bottom: 24px;
    font-size: 15px;
    line-height: 1.46668;
    font-weight: 400;
  }
  .formGroup {
    label {
      font-size: 15px;
      line-height: 1.46668;
      font-weight: 400;
      color: rgba(29, 28, 29, 0.7);
    }
  }
}
