.primaryViewBody {
  box-shadow: none;
  flex: 1;
  min-height: 0;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  .virtualList {
    position: relative;
    // overflow: scroll;
    padding: 8px 0;
    height: 300;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    @media screen and (max-width: 640px) {
      margin-bottom: 16px;
    }
  }
}
