.primaryViewBody {
  box-shadow: none;
  flex: 1;
  min-height: 0;
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  .virtualList {
    position: relative;
    overflow: scroll;
  }
}
