.channelSidebarItem {
  height: 36px;
  line-height: 28px;
  padding: 0 16px;
  position: relative;
  user-select: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  border-radius: 0;
  color: rgb(203, 222, 251);
  display: flex;
  align-items: center;
  svg {
    width: 26px;
    path {
      stroke: rgb(203, 222, 251);
    }
  }
  :global {
    .sb-avatar.sb-avatar--text {
      width: 20px !important;
      height: 20px !important;
      margin-right: 8px;
      border-radius: 4px;
      overflow: hidden;
      .sb-avatar__text {
        width: unset !important;
        height: unset !important;
        div {
          span {
            width: 20px;
            height: 20px;
          }
        }
      }
    }
  }
  .channelSidebarItemName {
    margin-right: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    opacity: 1;
  }
}
