.channelSidebar {
  height: auto;
  min-height: 0;
  width: 100%;
  font-size: 15px;
  flex: 1;
  position: relative;
  padding: 0;
  display: flex;
  flex-direction: column;
  color: rgb(203, 222, 251);
  background-color: #3079ed;
  .channelSidebarList {
    flex: 1;
    overflow: scroll;
    .channelTree {
      background: inherit;
      color: inherit;
      padding: 0 16px;
      :global(.ant-tree-indent) {
        display: none;
      }
      :global(.ant-tree-switcher-noop) {
        display: none;
      }
      :global(.ant-tree-list-holder) {
        padding-top: 12px;
      }
      :global(.ant-tree-node-content-wrapper) {
        &:hover {
          background-color: inherit;
        }
      }
      :global(.ant-tree-treenode.ant-tree-treenode-switcher-close) {
        width: 100%;
        :global(.ant-tree-node-content-wrapper.ant-tree-node-content-wrapper-normal) {
          width: 100%;
          padding: 0;
          &:hover,
          &:active,
          &:focus {
            background: #1164a3;
          }
          :global(.ant-tree-title) {
            & > div {
              height: 26px;
            }
          }
        }
        :global(.ant-tree-node-content-wrapper.ant-tree-node-selected) {
          background: #1164a3;
        }
      }
    }
  }
}
