.formHolder {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  flex-shrink: 0;
  width: 100%;
  align-items: center;
  max-width: 800px;
  @media screen and (max-width: 640px) {
    max-width: 90%;
  }
  .heading {
    font-family: Roboto;
    font-weight: 700;
    font-size: 48px;
    line-height: 46px;
    max-width: 700px;
    text-align: center;
    letter-spacing: -0.75px;
    margin-bottom: 10px;
    @media screen and (max-width: 640px) {
      font-size: 32px;
    }
  }
  .subHeading {
    font-size: 18px;
    line-height: 27px;
    margin-bottom: 32px;
    color: #454245;
    max-width: 700px;
    text-align: center;
  }
  form {
    max-width: 400px;
    width: 100%;
    label {
      line-height: 1.8;
      color: #454245bd;
    }
  }
}
